@model ProjetoEventoFF.MVC.ViewModels.EventoViewModel

@{
    ViewBag.Title = "Eventos";
}

<h2>Detalhes do evento</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Descrição")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local)
        </dd>

        <dt>
            @Html.DisplayName("Data de início")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.DisplayName("Data de fim")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>

        <dt>
            @Html.DisplayName("Dia inteiro")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaInteiro)
        </dd>

        <dt>
            @Html.DisplayName("Campo aberto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampoAberto)
        </dd>

        <dt>
            @Html.DisplayName("Calendário")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calendario.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EventoId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
