@model IEnumerable<ProjetoEventoFF.MVC.ViewModels.EventoViewModel>

@{
    ViewBag.Title = "Eventos";
}

<h2>Eventos para o calendário @ViewBag.nomeCalendario</h2>

<p>
    @Html.ActionLink("Novo evento", "Create", "Evento", new { calendarioId = Request.Params["calendarioId"] }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Local)
        </th>
        <th>
            @Html.DisplayName("Início")
        </th>
        <th>
            @Html.DisplayName("Fim")
        </th>
        <th>
            @Html.DisplayName("Dia inteiro")
        </th>
        <th>
            @Html.DisplayName("Campo aberto")
        </th>
        <th>
            @Html.DisplayName("Calendário")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaInteiro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampoAberto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calendario.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.EventoId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.EventoId }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.EventoId })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Voltar", "Index", "Calendario")
</div>
