@model ProjetoEventoFF.MVC.ViewModels.CalendarioViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CalendarioViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipe.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CalendarioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
