@model ProjetoEventoFF.MVC.ViewModels.UsuarioViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Usuário</h2>

<h3>Você tem certeza que quer excluir?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apelido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apelido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Setor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Setor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DDD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipe.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
